.container{
    display: flex;
    align-items: center;
}

.select {
    width: 140px;
    margin: 0 20px;
}

.waveSymbol{
    font-size : 20px;
    margin: 0 -8px;

}

@media(max-width: 768px){
    .select {
        width: 104px;
        margin: 0 5px;
        height: 56px;
    }
    .waveSymbol{
       display: none;
    
    }
}

@media(max-width: 375px){
    .select {
        width: 79px;
        margin: 0 5px;
        height: 44px;
    }
    
    .select::placeholder{
        font-size: 12px;
    }
    .waveSymbol{
       display: none;
    
    }
}