.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modalContent {
    position:relative;
    background-color: var(--white);
    min-width: 368px;
    min-height:204px;
    padding: 30px 24px;
    border-radius: 8px;

    @media (max-width:400){
      width:100%;
      min-width:auto;
      margin:0 20px;
    }
  }
  
  .contents {
    padding-top:10px;
    text-align: center;
    font-size: 16px;
    font-weight:400;

    .circle{
      width:24px;
      height:24px;
      line-height:20px;
      margin:0 auto 15px;
      border-radius:50%;
      background:var(--black);

      .iconCheck{
        vertical-align: bottom;
      }
    }

    .head{
      -webkit-display:flex;
      display:flex;
      justify-content: space-between;
      align-items: center;
      font-size:24px;
      font-weight:700;
    }
  }

  .contents.review{
    padding-top:0;
    max-width: min-content;

    .title{
      padding-top:5px;
    }

    .close{
      cursor: pointer;
    }

    .info{
      -webkit-display:flex;
      display:flex;
      margin-top:45px;
      text-align:left;

      .thumbnail{
        position:relative;
        margin-right:24px;
        width:126px;
        min-width:126px;
        height:126px;
        border-radius:12px;
        overflow:hidden;
      }

      .detail{
        -webkit-display:flex;
        display:flex;
        -webkit-flex-direction:column;
        flex-direction:column;
        justify-content: space-between;

        .top{
          border-bottom:1px solid rgba(17, 34, 17, .1);

          .title{
            min-width: 250px;
            font-size: 20px;
            font-weight: 700;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            word-break: break-word;
          }
          .date{
            margin:12px 0;
            font-size:18px;
            font-weight:400
          }
        }

        .bottom{
          font-size:32px;
          font-weight:700
        }
      }
    }
    .textarea{
      display:block;
      width:100%;
      height:calc(100vw * (240/1200));
      min-height:240px;
      max-height:280px;
      padding:16px;
      border:1px solid var(--gray);
      border-radius:4px;
      font-size:16px;
      font-weight:400;
      
      &::placeholder{
        
        color:var(--gray)
      }
    }
  }

  .contents.type2{
    padding:45px;

    .buttonContainer button{
      position:absolute;
      bottom:28px;
      right:28px;

      @media (max-width:480px){
        position:inherit
      }
    }
  }
  
  .buttonContainer button {
    padding: 8px 20px;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .buttonContainer .cancel {
    margin-right: 10px;
    background: var(--white);
    color: var(--primary);
  }
  